<!--<nav class="cor-default">-->
<!--  <div class="container">-->
<!--&lt;!&ndash;    <span class="navbar-brand"><h5>IF</h5></span>&ndash;&gt;-->
<!--    <a class="navbar-brand" href="#">-->
<!--      <img src="http://placehold.it/150x50?text=Logo" alt="">-->
<!--    </a>-->
<!--  </div>-->
<!--</nav>-->
<header class="demo-header ">
  <div class="col-12">
    <button class="btn cor-default"><i class="fas fa-bars fa-2x"></i></button>
    <span>IF</span>
    <div class="float-right hidden-xs">
      <button class="btn cor-default"> Inicio <i class="fas fa-home"></i></button>
    </div>
  </div>
</header>
