<div class="container-fluid">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
      <form [formGroup]="formulario" (ngSubmit)="cadastrarEnsino()" >
        <div class="form-group">
          <label>Atividade de Ensino</label>
          <select
            type="text"
            class="form-control"
            placeholder="Atividade de Ensino"
            formControlName="ensino"
            (change)="selecionarObjeto($event.target.value)"
            (click)="validarUnicaEscolha()"
          >
            <option *ngFor="let atividade of objAtividadesDeEnsinos" value="{{atividade.atividade}}" >{{atividade.atividade}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Descrição</label>
          <textarea
            class="form-control"
            placeholder="Descrição"
            formControlName="descricao"
            rows="2"
            style="resize: none"
          ></textarea>
        </div>
        <div class="form-group">
          <label>CH (h/a) | Pontos:</label>
          <input
            type="number"
            class="form-control"
            placeholder="CH (h/a) | Pontos"
            formControlName="cargaHOuPontuacao"
          >
        </div>
        <button type="submit" class="btn cor-default btn-lg btn-block" [disabled]="!formulario.valid" *ngIf="atividadeSelecionada" >Incluir</button>
        <button type="submit" class="btn cor-default btn-lg btn-block" [disabled]="true" *ngIf="!atividadeSelecionada">Incluir</button>
      </form>
    </div>
  </div>
  <br><br>
  <div class="row justify-content-center align-items-center h-100">
    <div class="col col-sm-9 col-md-9 col-lg-9 col-xl-9">
      <table class="table table-responsive-xl table-hover">
        <thead>
        <tr>
          <th>Atividade de Ensino</th>
          <th>Descrição</th>
          <th>CH/Pontos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ensino of relatorio">
          <td>{{ensino.ensino}}</td>
          <td>{{ensino.descricao}}</td>
          <td>{{ensino.cargaHOuPontuacao}}</td>
          <td><button type="submit" class="btn cor-default btn-sm btn-block" (click)="remover(ensino)"><i class="fas fa-trash-alt"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br><br>
  <div class="progress">
    <div class="progress-bar progress-bar-striped cor-default" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
